<!DOCTYPE html>
<html>

<head>
  <title>
    <h1>Fake Wepabge</h1>
  </title>
</head>

<body>
  <h1> This Is A Story All About How:</h1>
  <h3> My Life Got Flipped,
    Turned Upside Down.</h3>
  <img src=https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fewedit.files.wordpress.com%2F2017%2F03%2Ffreshprince.jpg%3Fw%3D2000&w=1000&c=sc&poi=face&q=70 / width="350">

  <p>
    <strong>Reasons for life change</strong>:
    <ul>
      <li>Lived in West Philadelphia</li>
      <li>A coulpe of guys started making<br /> trouble in my neighborhood</li>
      <li>Got into one little fight</li>
      <li>My mom got scared</li>
    </ul>
  </p>

  <footer><sub>The End</sub></footer>
  <%= link_to 'About', about_path %>

</body>







</html>
